/* Hover By 30secondsofcode*/
.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;  
  background-color: #006400;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
}
.hover-underline-animation.center::after {
  transform-origin: bottom center;
}

.hover-underline-animation.center:hover::after {
  transform-origin: bottom center;
}

/* Card Hover by blog avada*/

a {
  color: inherit;
  text-decoration: none;
}

/* Style untuk card */
.card1 {
  display: block;
  position: relative;
  width: 450px;
  height: 350px;
  background-color: #f0f0f0; 
  border-radius: 20px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  color: inherit;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

/* Efek hover background */
.card1::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #006400;
  height: 62px;
  width: 62px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.45s ease-out;
}

.card1:hover::before {
  transform: scale(21);
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #006400;
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
  font-weight: bold;
}

/* Efek hover untuk teks */
.card1:hover h3 {
  color: #ffffff;
}

.card1:hover .small {
  color: rgba(255, 255, 255, 0.9);
}

.card1:hover .icon{
  color: #ffffff;
}

/* Memastikan link tidak memiliki style default */
a.card1:focus,
a.card1:active {
  outline: none;
  border: none;
}

/* Hover Icon */
.ul {
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ul li {
  list-style: none;
}

.ul li a {
  width: 80px;
  height: 80px;
  background-color: #fff;
  text-align: center;
  line-height: 80px;
  font-size: 35px;
  margin-left: 10px; 
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}

.ul li a .icon {
  position: relative;
  color: #262626;
  transition: .5s;
  z-index: 3;
}

.ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}

.ul li a:hover:before {
  top: 0;
}

.ul li:nth-child(1) a:before{
  background: #3b5999;
}

.ul li:nth-child(2) a:before{
   background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.ul li:nth-child(3) a:before {
  background: #075e54 ;
}

.ul li:nth-child(4) a:before {
  background: #dd4b39;
}