/* Hover By 30secondsofcode*/
.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;  
  background-color: #006400;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
}
.hover-underline-animation.center::after {
  transform-origin: bottom center;
}

.hover-underline-animation.center:hover::after {
  transform-origin: bottom center;
}

/* Hover Button By prismic */
.btn {
  position: relative;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  color:#006400;
  background: none;
  border: 2px solid #006400;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
}

.liquid {
  background: linear-gradient(#006400 0 0) no-repeat calc(200% - var(--p, 0%))
    100% / 200% var(--p, 0.2em);
  transition: 0.3s var(--t, 0s),
    background-position 0.3s calc(0.3s - var(--t, 0s));
}

.liquid:hover {
  --p: 100%;
  --t: 0.3s;
  color: #fff;
}


/* Hover Card */
.card2 {
  display: block;
  top: 0px;
  position: relative;
  background-color: white;
  border-radius: 30px;
  border: 0.5px solid #cccccc;
  padding: 32px 24px;
  margin: 12px;
  margin-left: 50px;
  margin-bottom: 50px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  width: 510px;
  height: 650px;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan */
  /* 0px untuk offset bayangan horizontal */
  /* 5px untuk offset bayangan vertical */
  /* 8px untuk mengatur ketajaman bayangan */
  /* rgba 0,0,0 artinya code warna hitam dan 0.1 adalah opacitynya */

  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
  }
  
  &:hover:before {
    transform: scale(2.15);
  }
} 

/* Hover Icon */
.ul {
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ul li {
  list-style: none;
}

.ul li a {
  width: 80px;
  height: 80px;
  background-color: #fff;
  text-align: center;
  line-height: 80px;
  font-size: 35px;
  margin-left: 10px; 
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}

.ul li a .icon {
  position: relative;
  color: #262626;
  transition: .5s;
  z-index: 3;
}

.ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}

.ul li a:hover:before {
  top: 0;
}

.ul li:nth-child(1) a:before{
  background: #3b5999;
}

.ul li:nth-child(2) a:before{
   background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.ul li:nth-child(3) a:before {
  background: #075e54 ;
}

.ul li:nth-child(4) a:before {
  background: #dd4b39;
}