.Sub{
    font-size: 40px;
    margin-top: 80px;
}

.Judul{
    margin-top: -30px;
    font-size: 60px;
    font-weight: 700;
    color: #006400;
    width: 645px;
}

.table{
    width: 90%;
    margin-left: 90px;
}

.table thead th{
    background-color: #006400;
    color: white;
}

.Poli {
    width: 250px;
}

.Nomor{
    width: 180px;
}

.Status{
    width: 280px;
}

.Histori{
    width: 200px;
}

.Aksi{
    width: 220px;
}

.Tombol{
    margin-top: 40px;
}

.Tombol button{
    width: 500px;
    height: 60px;
}

button{
    border: none;
    width: 90px;
    height: 40px;
    border-radius: 3px;
    color: white;
}
