.judulFAQ{
    font-size: 40px; 
    font-weight: 700; 
    margin-bottom: -20px; 
    margin-left: 770px; 
}

.faq-item {
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 30px;
    margin-left: 400px;
    margin-right: 200px;
}

.faq-item:hover .jawaban {
    display: block;
    font-size: 20px;
}

.jawaban {
    display: none;

}

.Pertanyaan{
    margin-left: 20px;
    font-size: 34px;
    color: white;
}

.Point{
    font-size: 25px;
    color: white;
}



.Bungkus{
    width: 800px;
    height: 55px;
    border-radius: 15px;
    background-color: #006400;
    margin-bottom: 10px;
}
