body{
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 100%;
}

.banner-card{
    position: relative;
}

.banner-text{
    position: absolute;
}

.Tengah{
    margin-top: -1150px;
    margin-left: 500px;
    display: flex;
    justify-content: center;
}

.kotakluar{
    width: 800px;
    height: 620px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3)
}

.kotakluar .form-control{
    width: 670px;
    margin-left: 50px;
}

.kotakluar label{
    margin-left: 50px;
    margin-top: 8px;
    margin-bottom: 5px;
}

.NIK{
    width: 280px;
    margin-left: 390px;
    margin-top: -38px;
}

.NIK .form-control{
    width: 280px;
}

.Pekerjaan{
    width: 380px;
}

.Pekerjaan .form-control{
    width: 300px;
}

.GayaHidup{
    width: 300px;
    margin-top: -70px;
    margin-left: 400px;
}

.GayaHidup .form-check-label{
    margin-top: -10px;
    margin-right: 10px;
}

.GayaHidup label{
    margin-left: 0px;
}

.BeratBadan{
    margin-left: 190px;
    width: 165px;
}

.BeratBadan .form-control{
    margin-top: -38px;
    width: 165px;
}

.Usia {
    margin-top: 10px;
    width: 150px;
}

.Usia .form-control{
    width: 150px;
}

.FotoKTP .form-control{
    width: 320px;
}

.FotoKK{
    width: 300px;
    margin-top: -75px;
    margin-left: 350px;
}

.FotoKK .form-control{
    width: 320px;
}

button{
    border: none;
    border-radius: 3px;
    color: white;
    height: 40px;
    width: 120px;
    margin-top: 20px;
}

.kotakdalam{
    width: 100%;
    height: 105px;
    background-color: #006400;
    padding-left: 25px;
    padding-top: 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.kotakdalam h1{
    color: white;
    font-weight: 700;
    font-size: 35px;
}

.kotakdalam p {
    color: white;
    margin-top: -12px;
    font-weight: 600;
    font-size: 15px;
}

.kotak {
    width: 100%;
    height: 400px;
    background-color: rgba(221, 221, 221, 0.6); /* #DDDDDD dengan opacity 60% */
}

.kotak img {
    width: 245px;
    height: 60px;
    margin-top: 50px;
    margin-left: 40px;
}

.kirifooter{
    margin-left: 300px;
    margin-top: 10px;
    width: 500px;
}

.kirifooter label{
    font-weight: 700;
    font-size: 38px;
    color: #006400;
}

.kirifooter p {
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 38px;
    width: 400px;
    height: 65px;
}

.garis hr {
    margin-top: 0px;
    margin-left: 45px;
    margin-right: 45px;
    width: 1600px;
    color: #006400;
    height: 2px; /*  ketebalan hr */
    border: none; /*  untuk menghilangkan border default */
    background-color: #006400; /* menggunakan background-color untuk warna */
}

.pojokbawah{
    margin-left: 45px;
    margin-top: -20px;
}

.pojokbawah label{
    font-weight: 500;
    font-size: 12px;
}

.location {
    margin-top: -215px;
    margin-left: 300px;
    width: 10px ;
}

.location svg{
    color:#006400;
}

.email{
    margin-top: 60px;
    margin-left: 298px;
    width: 10px;
}

.email svg{
    color: #006400;
}

.kananfooter{
    margin-left: 800px;
    margin-top: -200px;
    width: 500px;
}

.kananfooter label{
    font-weight: 700;
    font-size: 38px;
    color: #006400;
    margin-top: -40px;
    margin-bottom: 50px;
    margin-left: 170px;
    width: 235px;   
}

.kananfooter ul{
    margin-left: 250px;
}
