img {
    width: 75px;
    height: 86px;
}

ul{
    margin-left: 800px;
}

span{
    font-weight: 600;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: inherit;
}

.banner-card {
    position: relative;
}

.banner-card img{
    width: 100% ;
    height: 400px;
}

.banner-text {
    position: absolute;
    top: 100px;
    padding: 20px;

}

.Welcome{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: -20px;
    margin-left: 630px;

}

.Place {
    font-weight: 700 ;
    margin-left: 550px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 40px ;
}

.Pelayanan {
    margin-top: 150px;
    font-size: 40px;
    margin-left: 60px ;
}

.PlaceKartasura{
    font-weight: 700;
    font-size: 75px;
    margin-left: 58px;
    margin-top: -40px;
    color: #006400;
}

.kotak {
    width: 100%;
    height: 400px;
    margin-top: 350px; 
    background-color: rgba(221, 221, 221, 0.6); /* #DDDDDD dengan opacity 60% */
}

.kotak img {
    width: 245px;
    height: 60px;
    margin-top: 50px;
    margin-left: 40px;
}

.kirifooter{
    margin-left: 300px;
    margin-top: 10px;
    width: 500px;
}

.kirifooter label{
    font-weight: 700;
    font-size: 38px;
    color: #006400;
}

.kirifooter p {
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 38px;
    width: 400px;
    height: 65px;
}

.kananfooter{
    margin-left: 1000px;
    margin-top: -225px;
}

.garis hr {
    margin-top: 0px;
    margin-left: 45px;
    margin-right: 45px;
    width: 1600px;
    color: #006400;
    height: 2px; /*  ketebalan hr */
    border: none; /*  untuk menghilangkan border default */
    background-color: #006400; /* menggunakan background-color untuk warna */
}

.pojokbawah{
    margin-left: 45px;
    margin-top: -20px;
}

.pojokbawah label{
    font-weight: 500;
    font-size: 12px;
}

.location { 
    margin-top: -215px;
    margin-left: 300px;
    width: 10px ;
}

.location svg{
    color:#006400;
}

.email{
    margin-top: 60px;
    margin-left: 298px;
    width: 10px;
}

.email svg{
    color: #006400;
}

.kananfooter{
    margin-left: 400px;
    margin-top: -200px;
}

.kananfooter label{
    font-weight: 700;
    font-size: 38px;
    color: #006400;
    margin-top: -40px;
    margin-left: 600px;
    margin-bottom: 50px;
    width: 240px;   
}

/* Kotak */
.kotak1{
    width: 400px;
    height: 150px;
    border-radius: 10px;
    background-color: whitesmoke;
    margin-top: 30px;
    margin-left: 20px;
}

.kotak2{
    width: 400px;
    height: 150px;
    border-radius: 10px;
    background-color: whitesmoke;
    margin-top: -150px;
    margin-left: 450px;
}

.kotak3{
    width: 400px;
    height: 150px;
    border-radius: 10px;
    background-color: whitesmoke;
    margin-top: -150px;
    margin-left: 880px;
}

.warna{
    width: 10px;
    height: 150px;
    background-color: #006400;
    border-radius: 12px;
}

.point{
    font-size: 28px;
    font-weight: 600;
    font-family: sans-serif;
    margin-left: 90px;
    margin-top: -130px;
    margin-bottom: 0px;
}

.day {
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
    margin-left: 90px;
}

.jam{
    font-size: 18px;
    margin-left: 90px;
    margin-top: -10px;
    color: #006400;
}

.card2 h1{
    color:#006400;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-top: 20px;
}