img {
    width: 75px;
    height: 86px;
}

ul{
    margin-left: 800px;
}

span{
    font-weight: 600;
    font-size: 20px;
}

.banner-card {
    position: relative;
}

.banner-card img{
    width: 100% ;
    height: 400px;
}

.banner-text {
    position: absolute;
    top: 100px;
    padding: 20px;

}

.Welcome{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: -20px;
    margin-left: 610px;

}

.Place {
    font-weight: 700 ;
    margin-left: 550px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 40px ;
}

.Pelayanan {
    margin-top: 150px;
    font-size: 40px;
    margin-left: 60px ;
}

.PlaceKartasura{
    font-weight: 700;
    font-size: 75px;
    margin-left: 58px;
    margin-top: -40px;
    color: #006400;
}

.kotak {
    width: 100%;
    height: 400px;
    margin-top: 350px; 
    background-color: rgba(221, 221, 221, 0.6); /* #DDDDDD dengan opacity 60% */
}

.kotak img {
    width: 245px;
    height: 60px;
    margin-top: 50px;
    margin-left: 40px;
}

.kirifooter{
    margin-left: 300px;
    margin-top: 10px;
    width: 500px;
}

.kirifooter label{
    font-weight: 700;
    font-size: 38px;
    color: #006400;
}

.kirifooter p {
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 38px;
    width: 400px;
    height: 65px;
}

.kananfooter{
    margin-left: 1000px;
    margin-top: -225px;
}

.garis hr {
    margin-top: 0px;
    margin-left: 45px;
    margin-right: 45px;
    width: 1600px;
    color: #006400;
    height: 2px; /*  ketebalan hr */
    border: none; /*  untuk menghilangkan border default */
    background-color: #006400; /* menggunakan background-color untuk warna */
}

.pojokbawah{
    margin-left: 45px;
    margin-top: -20px;
}

.pojokbawah label{
    font-weight: 500;
    font-size: 12px;
}

.location { 
    margin-top: -215px;
    margin-left: 300px;
    width: 10px ;
}

.location svg{
    color:#006400;
}

.email{
    margin-top: 60px;
    margin-left: 298px;
    width: 10px;
}

.email svg{
    color: #006400;
}


/* Card */
.cardsatu{
    margin-left: 50px;
    margin-top: 60px;
}

.carddua{
    margin-top: -362px;
    margin-left: 620px;
}

.cardtiga{
    margin-top: -362px;
    margin-left: 1170px;
}

.cardempat{
    margin-top: 80px;
    margin-left: 50px;
}

.cardlima{
    margin-top: -361px;
    margin-left: 620px;
}

/* Style untuk judul */
.card1 h3 {
  color: #000000; 
  font-size: 32px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 16px;
  margin-top: 40px;
  text-align: center;
  transition: all 0.3s ease-out;
}

/* Style untuk paragraf */
.card1 .small {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  color: #000000; /* Warna hitam */
  margin-top: 8px;
  text-align: center;
  transition: all 0.3s ease-out;
  padding: 0 20px;
}

.kananfooter{
    margin-left: 400px;
    margin-top: -200px;
}

.kananfooter label{
    font-weight: 700;
    font-size: 38px;
    color: #006400;
    margin-top: -40px;
    margin-left: 600px;
    margin-bottom: 50px;
    width: 240px;   
}