body{
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 100%;
}

.banner-card{
    position: relative;
}

.banner-text{
    position: absolute;
}

.Tengah{
    margin-top: -1130px;
    margin-left: 500px;
    display: flex;
    justify-content: center;
}

.kotakluar{
    width: 800px;
    height: 420px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    width: 800px;
    height: 500px;
}

.kotakluar .form-control{
    width: 670px;
    margin-left: 50px;
}

.kotakluar label{
    margin-left: 50px;
    margin-top: 8px;
    margin-bottom: 5px;
    
}

button{
    border: none;
    border-radius: 10px;
    color: white;
    height: 40px;
    width: 200px;
    margin-top: 20px;
    font-size: 18px;
}

.kotakdalam{
    width: 100%;
    height: 105px;
    background-color: #6d98c9;
    padding-left: 25px;
    padding-top: 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 500px;
    height: 90px;
}

.kotakdalam h1{
    color: white;
    font-weight: 700;
    font-size: 35px;
}

.kotakdalam p {
    color: white;
    margin-top: -12px;
    font-weight: 600;
    font-size: 15px;
}

.kotak {
    width: 100%;
    height: 400px;
    background-color: rgba(221, 221, 221, 0.6); /* #DDDDDD dengan opacity 60% */
}

.kotak img {
    width: 245px;
    height: 60px;
    margin-top: 50px;
    margin-left: 40px;
}

.kirifooter{
    margin-left: 300px;
    margin-top: 10px;
    width: 500px;
}

.kirifooter label{
    font-weight: 700;
    font-size: 38px;
    color: #006400;
}

.kirifooter p {
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 38px;
    width: 400px;
    height: 65px;
}

.garis hr {
    margin-top: 0px;
    margin-left: 45px;
    margin-right: 45px;
    width: 1600px;
    color: #006400;
    height: 2px; /*  ketebalan hr */
    border: none; /*  untuk menghilangkan border default */
    background-color: #006400; /* menggunakan background-color untuk warna */
}

.pojokbawah{
    margin-left: 45px;
    margin-top: -20px;
}

.pojokbawah label{
    font-weight: 500;
    font-size: 12px;
}

.location {
    margin-top: -215px;
    margin-left: 300px;
    width: 10px ;
}

.location svg{
    color:#006400;
}

.email{
    margin-top: 60px;
    margin-left: 298px;
    width: 10px;
}

.email svg{
    color: #006400;
}

.kananfooter{
    margin-left: 800px;
    margin-top: -200px;
    width: 500px;
}

.kananfooter label{
    font-weight: 700;
    font-size: 38px;
    color: #006400;
    margin-top: -40px;
    margin-bottom: 50px;
    margin-left: 170px;
    width: 235px;   
}

.kananfooter ul{
    margin-left: 250px;
}

.kotakdalam h1{
    margin-left: 200px;
}

.kotakluar .form-control{
    width: 400px;
}

.kotakluar label{
    margin-top: 30px;
}

.kotakkanan{
    width: 310px;
    height: 500.5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #eeee;
    margin-left: 490px;
    margin-top: -354px;
    padding-top: 130px ;
}

.kotakkanan p {
    font-size: 16px;
    text-align: center;
    color: #6C9BD1;
    font-weight: 500;
    width: 280px;
    margin-left: 15px;
}

.kotakkanan h1{
    font-size: 20px;
    text-align: center;
    color: #6C9BD1;
    font-weight: 700;
    margin-top: 30px;
}
