.kotakluar{
    width: 800px;
    height: 500px;
}

.kotakdalam{
    width: 500px;
    height: 90px;
}

.kotakdalam h1{
    margin-left: 200px;
}

.kotakluar .form-control{
    width: 400px;
}

.kotakluar label{
    margin-top: 30px;
}

.kotakkanan{
    width: 310px;
    height: 500.5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #006400;
    margin-left: 490px;
    margin-top: -354px;
    padding-top: 130px ;
}

.kotakkanan p {
    font-size: 15px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 280px;
    margin-left: 15px;
}

.kotakkanan h1{
    font-size: 20px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}