.login-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.BannerGambar {
    width: 100%;
    height: auto;
    display: block;
    z-index: 1;
}

.login-card {
    position: absolute;
    top: 32%;  
    left: 50%;
    transform: translateX(-50%);

    width: 800px;
    height: 500px;

    display: flex;
    border-radius: 15px;
    overflow: hidden;
    z-index: 5;
}

.left-box {
    width: 50%;
    background-color: #7DA0C3;
    padding: 40px;
    color: white;
}

.right-box {
    width: 50%;
    background-color: #E5E5EC;
    padding: 40px;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    border: none;
    border-radius: 20px;
    background: #d9d9d9;
}

.login-btn {
    width: 60%;
    padding: 10px;
    background: #d9d9d9;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.register-btn {
    width: 60%;
    padding: 10px;
    background: #6C9BD1;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

.bawah {
    width: 100%;
    height: 400px;
    background-color: rgba(221, 221, 221, 0.6);
}

.logo {
    margin-top: 30px;
    margin-left: 30px;
    width: 250px;
    height: 80px;
}
