.register-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.BannerGambar {
    width: 100%;
    height: auto;
    display: block;
}

.register-card {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translateX(-50%);

    width: 800px;
    height: 500px;

    display: flex;
    border-radius: 15px;
    /* overflow: hidden; */
    z-index: 5;
}

/* KOTAK KIRI = ABU */
.register-left {
    width: 50%;
    background-color: #E5E5EC;
    padding: 40px;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}


.register-left h2{
    color: #6C9BD1;
    font-weight: 700;
    margin-top: 100px;
}

.register-left p{
    color: #6C9BD1;
    font-weight: 600;
}

/* KOTAK KANAN = BIRU */
.register-right {
    width: 50%;
    background-color: #6d98c9;
    padding: 40px;
    color: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.register-right h2{
    font-weight: 700;
}

/* Input */
.form-control {
    width: 100%;
    margin: 12px 0 20px 0;
    border: none;
    border-radius: 10px;
    background: #ebeaea;
}

/* Tombol Login di kiri */
.login-btn{
    width: 75%;
    padding: 5px;
    background: #6C9BD1;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
}

/* Tombol Register di kanan */
.submit-register {
    width: 60%;
    padding: 4px;
    background: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: #6C9BD1;
    font-size: 19px;
}

.logo {
    margin-top: 30px;
    margin-left: 30px;
    width: 250px;
    height: 80px;
}
