.judul{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: -20px;
    margin-left: 710px;
}
.bold{
    font-size: 30px;
}
.posisi
{
    margin-top: 100px;
    margin-left: 400px;
    margin-right: 300px;
    text-align:"center";
}
.circle
{
    margin-left: -20px;
}