.judul{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: -20px;
    margin-left: 710px;
}
.Tengah{
    margin-top: 100px;
    margin-bottom: 580px;
    margin-left: 90px;
    width: 90%;
}

.Sub{
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 25px;
    text-align: center;
    color: white;
}

.IsiSub{
    font-size: 26px;
    margin-left: 60px;
}

.Bungkus{
    width: 200px;
    height: 40px;
    border-radius: 15px;
    background-color: #006400;
}


